<div class="row">
<div class="input-group mb-2  gap-4">
    <input type="text" class="form-control mb-2" placeholder="Введите название фильма" 
    aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]="movieName">
    <input type="text" class="form-control mb-2" placeholder="Введите год выпуска" 
    aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]="year">
    <input type="checkbox" class="mb-2" [(ngModel)]="plotType" (change)="changePlotType()">
<label for="plotTypeCheckbox" class="mb-2">Повний опис</label>
    <button class="btn btn-outline-secondary" type="button" (click)="search()" id="button-addon2">Button</button>
  </div>
</div>

<div class="row">
    <div class="col" *ngFor="let movie of  moviesDetails">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ movie.Title }}</h5>
          <p class="card-text">Год выпуска: {{ movie.Year }}</p>
          <p class="card-text">Рейтинг: {{ movie.imdbRating }}</p>
          <p class="card-text">Продолжительность: {{ movie.Runtime }}</p>
          <p class="card-text">Режиссер: {{ movie.Director }}</p>
          <p class="card-text">Актерский состав: {{ movie.Actors }}</p>
          <p class="card-text" *ngIf="plotType">Описание: {{ movie.Plot }}</p>
        </div>
      </div>
    </div>
  </div>